{% load static %}

<!-- Main Navigation Menu -->
<header id="navbar" class="sticky inset-x-0 top-0 z-60 transition-all duration-500 py-4 flex items-center [&.nav-sticky]:bg-white/90 [&.nav-sticky]:backdrop-blur-3xl [&.nav-sticky]:shadow-md dark:[&.nav-sticky]:bg-default-50/80">
    <div class="container">
        <div class="flex items-center justify-between gap-4">
            <div class="shrink">
                <!-- Navbar Brand Logo -->
                <a href="{% url 'index' %}">
                    <img src="{% static 'assets/roadmap_logo.png' %}" alt="logo" class="h-10 flex dark:hidden">
                    <img src="{% static 'assets/roadmap_logo_dark.png' %}" alt="logo" class="h-10 hidden dark:flex">
                </a>
            </div>

            <!-- Nevigation Menu -->
            <ul class="menu lg:flex items-center justify-center hidden relative mx-auto grow">
                <li class="menu-item text-default-800 mx-2 transition-all duration-300 hover:text-primary [&.active]:text-primary">
                    <a class="inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 rounded-full capitalize" href="#home">Home </a>
                </li>
                <li class="menu-item text-default-800 mx-2 transition-all duration-300 hover:text-primary [&.active]:text-primary">
                    <a class="inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 rounded-full capitalize" href="#about">Quem Somos </a>
                </li>
                <li class="menu-item text-default-800 mx-2 transition-all duration-300 hover:text-primary [&.active]:text-primary">
                    <a class="inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 rounded-full capitalize" href="#services">Serviços </a>
                </li>
                <li class="menu-item text-default-800 mx-2 transition-all duration-300 hover:text-primary [&.active]:text-primary">
                    <a class="inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 rounded-full capitalize" href="#portfolio">Clientes </a>
                </li>
                <li class="menu-item text-default-800 mx-2 transition-all duration-300 hover:text-primary [&.active]:text-primary">
                    <a class="inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 rounded-full capitalize" href="#videos">Conteúdo </a>
                </li>
                <li class="menu-item text-default-800 mx-2 transition-all duration-300 hover:text-primary [&.active]:text-primary">
                    <a class="inline-flex items-center text-sm lg:text-base font-medium py-0.5 px-2 rounded-full capitalize" href="#contact">Contato </a>
                </li>
            </ul>
            
            <div class="ms-auto shrink inline-flex gap-2">
                <!-- Mobile Menu Toggle Button -->
                <button class="lg:hidden inline-block" data-hs-overlay="#mobile-menu">
                    <i data-lucide="menu" class="w-7 h-7 text-default-600 hover:text-default-900"></i>
                </button>
            </div>
        </div>
    </div>
</header>